*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}


header{
    height: 11vh;
    background-color: #063970;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    align-content: center;
}

.logo{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}
.logo h1{
    color:gold;
    font-weight: bolder;
    font-style: italic;
    margin-left: 20px;
    text-shadow: 5px 5px 5px black;
    font-size: 50px;
}

#grid-logo{
    width: 100%;
    height: 10vh;
    box-shadow: 3px 3px 10px 3px black;
    border: 2px solid dodgerblue;
    border-radius: 100%;
    margin-top: 15px;
}
nav{
    display: grid;
    align-content: center;
}
nav ul{
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    align-content: center;
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    font-family: monospace;
    color: white;
    text-shadow: 5px 5px 5px black;
}

a:active{
    background-color: #154c79;
}
a:hover{
    border-radius: 30px;
    padding: 10px;
    box-shadow:2px 2px 10px black;
}
main{
    width: auto;
    height: 80vh;
    display: grid;
    grid-template-columns: 50% 50%;
    /* background-color:#2596be; */
    background-color: #154c79;
    padding: 30px 0;
}

section{
    width: 100%;
    /* background-color: tomato; */
    display: grid;
    justify-content: center;
    align-content: center;
    /* margin: 30px 0; */
}
article{
    /* background-color:aqua; */
    width: 600px;
    height: auto;
    padding: 15px;
    color: white;
    text-shadow: 5px 5px 5px black;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    box-shadow: 3px 3px 20px 10px dodgerblue;
}
article:hover{
    background-color:#063970;
}
article h1{
    font-size: 50px;
    cursor: pointer;
}
aside{
    width: 100%;
    /* background-color: aqua; */
    display: grid;
    justify-content: center;
    align-content: center;
}
.cal{
    width: 400px;
    height: 500px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px 20px;
    background-color: black;
    padding: 20px;
    border-radius: 30px;
    /* margin: 20px; */
    background-color: #063970;
    box-shadow: 5px 5px 10px 5px black;
}
button{
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight:bolder;
    border-radius: 15px;
    border: none;
    background-color: gold;
    color:black;
    box-shadow: 5px 5px 10px 2px black;
    cursor: pointer;
}
.op button{
    background-color: orangered;
}

button:hover{
    background-color:green;
    color:white;
}
button:active{
    background-color: white;
    color: red;
}
.input-field h1{
    text-align: center;
    margin-bottom: 10px;
    font-family: monospace;
}
input{
    width: 100%;
    height: 50%;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    box-shadow: 5px 5px 10px 2px black;
}
.input-field{
    grid-column: 1 / span 4;
    /* background: yellow; */
}

.eq{
    grid-column: 3/ span 2;
}

footer{
    height: 9vh;
    font-size: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
     background-color: #063970;
     color:gold;
    font-weight: bolder;
    font-style: italic;
    text-shadow: 5px 5px 5px black;
    box-shadow: 0px -1px 20px 1px black;
}

@media screen and (max-width:1100px){
    main{
        grid-template-columns: 100%;
        height: auto;
    }

    aside{
        margin-top: 50px;
    }
    header{
        grid-template-columns: 100%;
        height: auto;
        padding-bottom:10px;
    }
    nav{
        /* background-color: aqua; */
        justify-content: center;
        
    }
    nav ul{
        grid-template-columns: 100%;
        text-align: center;
        /* background-color: #2596be; */
    }
    a{
        font-size: 30px;
    }
    .cal{
        width: auto;
    }
}

@media screen and (max-width:450px) {
    section{
        display: none;
    }    
    aside{
        height: auto;
    }

    .cal{
        width: 350px;
    }
}